*.pyc
*.o
*.DS_Store
*.mod
*.so
*.a
*.dSYM
*.pkl
*.out
*.png
*.slurm
*.tar.gz
boltzmann/camb/camb
*Makefile.mine
likelihood/wmap9/test
likelihood/wmap7/test
output/
temp/
likelihood/planck2018/plc-3.0/
likelihood/planck2018/plc-3.1/
slurm/
boltzmann/class/class_v3.2.5/class
boltzmann/class/class_v3.2.5/classy_install/
boltzmann/class/class_v3.2.5/build/
boltzmann/class/class_v3.2.5/python/
boltzmann/class/class_v3.2.5/python/classy.c
likelihood/planck2015/plc-2.0/bin/
likelihood/planck2015/plc-2.0/buildir/
likelihood/planck2015/plc-2.0/include/
likelihood/planck2015/plc-2.0/lib/
likelihood/planck2015/plc-2.0/share/
shear/cosebis/modules/besselzero04.h
core
cosmosis.main
sys
recycling.py
